{% extends 'clientes/base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}
<div class="table-responsive table-hover text-nowrap">
    <form action="" method="post" class="form form-inline">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-info" value="Pesquisar" />
    </form>

    <table id="dt-vertical-scroll" class="table table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col">CNJ</th>
                <th scope="col">Cliente</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        {% for processo in processos %}
        <tbody id="myTable">
            <tr scope="row">
                <td>{{processo.cnj}}</td>
                <td>{{processo.cliente}}</td>
                <td>
                    <a href="{% url 'processos:detalhe_processo' processo.id %}"
                        class="btn btn-info btn-sm">Detalhes</a>
                    <a href="{% url 'processos:excluir_processo' processo.id %}"
                        class="btn btn-danger btn-sm">Excluir</a>
                    <a href="{% url 'processos:atualizar_processo' processo.id %}" class="btn btn-warning btn-sm"
                        id='{{processo.id}}'>Editar</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock conteudo %}