{% extends 'clientes/base.html' %}
{% load crispy_forms_tags %}
{% block titulo %}<center>Cadastro de Clientes</center>{% endblock titulo %}
{% block conteudo %}
<div class="form-group">
        {% if erro %}
			<div class="alert alert-danger">{{ erro }}</div>
		{% endif %}
		{% if sucesso %}
			<div class="alert alert-success">{{ sucesso }}</div>
		{% endif %}

    <form action="{% url 'clientes:cliente' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-12">{{form.nome_cliente|as_crispy_field}}</div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">{{form.cpf|as_crispy_field}}</div>
            <div class="col-sm-3">{{form.rg|as_crispy_field}}</div>
            <div class="col-sm-3">{{form.telefone|as_crispy_field}}</div>
            <div class="col-sm-3">{{form.data_nascimento|as_crispy_field}}</div>                
        </div>
        <div class="form-group row">
            <div class="col-sm-3">{{form.estado_civil|as_crispy_field}}</div>
            <div class="col-sm-6">{{form.email|as_crispy_field}}</div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">{{form.endereco|as_crispy_field}}</div>
            <div class="col-sm-2">{{form.nro_endereco|as_crispy_field}}</div>
        </div>
        <div class='form-group row'>
            <div class="col-sm-3">{{form.bairro|as_crispy_field}}</div>
            <div class="col-sm-3">{{form.cidade|as_crispy_field}}</div>
            <div class="col-sm-3">{{form.estado|as_crispy_field}}</div>
            <div class="col-sm-3">{{form.cep|as_crispy_field}}</div>
        </div>
            <input type="submit" class="btn btn-primary mb-2" value="Salvar"/>
        </form>
</div>
{% endblock conteudo %}