{% extends 'clientes/base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
{{crispy}}
<div class="container-fluid">
        {% if erro %}
			<div class="alert alert-danger">{{ erro }}</div>
		{% endif %}
		{% if sucesso %}
			<div class="alert alert-success">{{ sucesso }}</div>
		{% endif %}

    <form action="{% url 'clientes:cliente' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{crispy}}
        <div class="form-row">
            <h5 class="h4 mb-4">
                <strong>Cadastro de Cliente</strong>
            </h5>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">Nome: </label>
            <input id="id_cliente" type="text" name="nome_cliente" maxlength="100" required>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">CPF: </label>
            <input id="id_cliente" class="cpf" type="text" name="cpf" maxlength="14" required>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">RG: </label>
            <input id="id_cliente" class="rg" type="text" name="rg" maxlength="8" required>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">Telefone: </label>
            <input id="id_cliente" class="telefone" type="text" name="telefone" maxlength="11" required>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">Estado Civil: </label>{{form.estado_civil}}
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">Data de Nascimento: </label>
            <input id="id_cliente" class="date" type="text" name="data_nascimento" required>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">E-mail: </label>
            <input type="email" id="id_cliente" name="email">
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">Endereço: </label>
            <input id="id_cliente" type="text" name="endereco" maxlength="100" required>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">Número: </label>
            <input id="id_cliente" type="text" name="nro_endereco" >
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">Bairro: </label>
            <input id="id_cliente" type="text" name="bairro_endereco" >
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">Cidade: </label>
            <input id="id_cliente" type="text" name="cidade_endereco" maxlength="45" required>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">Estado: </label>{{form.estado}}
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_cliente">CEP:</label>
            <input id="id_cliente" type="text" class="cep" data-mask="00000-000" name="cep" maxlength="9" required>
        </div>
            <input type="submit" class="btn btn-primary" value="Salvar"/>
    </form>
</div>
{% endblock conteudo %}
