{% extends 'clientes/base.html' %}
{% if erro %}
                            <div class="alert alert-danger">{{ erro }}</div>
                        {% endif %}
                            {% if sucesso %}
                                <div class="alert alert-success">{{ sucesso }}</div>
                            {% endif %}
                            <form action="{% url 'clientes:endereco' %}" method="post">
                                {% csrf_token %}
                                <label for="id_endereco">Endereço:</label>
                                <input id="id_endereco" type="text" name="logradouro_endereco" maxlength="40" required></br>
                                <label for="id_endereco">Número:</label>
                                <input id="id_endereco" type="text" name="nro_endereco" ></br>
                                <label for="id_endereco">Bairro:</label>
                                <input id="id_endereco" type="text" name="bairro_endereco" ></br>
                                
                                <label for="id_endereco">Cidade:</label>
                                <input id="id_endereco" type="text" name="cidade_endereco" maxlength="45" required></br>
                                <label for="id_endereco">Estado:</label>
                                <select id="id_endereco" name="nome_uf">
                                    <option>Selecione o Estado</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernanbuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select></br>
                                <label for="id_endereco">CEP:</label>
                                <input id="id_endereco" type="text" class="cep" data-mask="00000-000" name="cep" maxlength="9" required></br>
                            </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                    </div>