{% extends "clientes/base.html" %}

{% block conteudo %}
<h2>Lista de Clientes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome_cliente }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>
                <a href="{% url 'clientes:atualizar_cliente' cliente.id %}" class="btn btn-sm btn-primary">Atualizar</a>
                <form action="{% url 'clientes:excluir_cliente' cliente.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}